{% extends 'index.html' %}
{% block content %}
    <style>
        body {
            background: white;
        }
    </style>
    <div class="container-fluid">
        <br><br><br>
        <div class="row justify-content-center offset-2 offset-sm-0 offset-md-0 ">
            <h1>Recuperación de contraseña</h1>
        </div>
        <br><br>
        <form method='post'>
            {% csrf_token %}
            <div class="row justify-content-center">
                <label for="id_email">Correo</label>
            </div>
            <div class="row justify-content-center"> 
                {{ form.email }}
            </div>
            <br>
            <div class="row justify-content-center">
                <input type="submit"  class="btnEnviar btn btn-success" value="Enviar">
            </div>
        </form>
    </div>
{% endblock %}