{% extends 'index.html' %}
{% block content %}
<style>
    body {
        background: white;
    }
</style>
{% if validlink %}
    <div class="container-fluid">
        <br><br><br>
        <div class="row justify-content-center ">
            <h1>Nueva Contraseña</h1>
        </div>
        <br><br>
        <form method="POST">
        {% csrf_token %}
            {{ form.new_password1.errors }}
            <div class="row justify-content-center">
                <label for="id_new_password1">Nueva contraseña:</label>
            </div>
            <div class="row justify-content-center">
                {{ form.new_password1 }}
            </div>
            {{ form.new_password2.errors }}
            <div class="row justify-content-center">
                <label for="id_new_password2">Confirme contraseña:</label>
            </div>
            <div class="row justify-content-center">
                {{ form.new_password2 }}
            </div>
            <br>
            <div class="row justify-content-center">
                <input type="submit" value="Cambiar mi contraseña" />
            </div>
        </form>
    </div>

{% else %}
    <br><br>
    <h1 class="text-center">ENLACE INVALIDO: ESTE ENLACE YA HA SIDO UTILIZADO</h1>
{% endif %}

{% endblock %}