{% extends "index.html" %}

{% block javascript %}
<script src='/static/JavaScript.js'></script>
{% endblock %}

{% block content %}
	<style>
		body {
			background: white;
		}
	</style>
	<div class="container-fluid">
		<br><br><br>
		<div class="row justify-content-center">
			<h1>Registrarse</h1>
		</div>
		<br><br>
		<form action="{% url 'registrar' %}" method="post">
			{% csrf_token %}
			<div class="row">
				<div class="col-12 col-md-1 offset-md-4">
					Email
				</div>
				<div class="col-12 col-md-5 col-xl-3">
					<input type="text" name="username" class="username form-control" 
														placeholder="Ej: usuario@ejemplo.cl" required>
				</div>
			</div>
			<br>
			<div class="row">
				<div class="col-12 col-md-1 offset-md-4">
					Nombre Usuario
				</div>
				<div class="col-12 col-md-5 col-xl-3">
					<input type="text" name="txtNombre" class="txtNombre form-control" 
														placeholder="Ej: Kalashnikov123" required>
				</div>
			</div>
			<br>
			<div class="row">
				<div class="col-12 col-md-1 offset-md-4">
					Clave
				</div>
				<div class="col-12 col-md-5 col-xl-3">
					<input type="password" name="txtClave" class="txtClave form-control" required>
				</div>
			</div>
			<br><br>
			<div class="row">
				<div class="col-12 col-md-1 offset-md-4 offset-xl-5 ">
					Opciones
				</div>
				<div class="col-12 col-md-3">
					<input type="reset" name="btnLimpiar" class="btnLimpiar btn btn-dark" value="Limpiar">
					<input type="submit" name="btnEnviar" class="btnEnviar btn btn-success"  value="Enviar">
				</div>
			</div>
		</form>
	</div>
{% endblock %}